.banner-download {
    position: relative;
    height: 100%;
    img {
        vertical-align: middle;
        border: 0;
    }
    .img-box {
        position: relative;
        display: block;
        width: 100%;
        object-fit: cover;
    }
    .call-app-btn {
        position: absolute;
        left: 17%;
        bottom: 10%;
        width: 31%;
        height: 34%;
        z-index: 1;
    }
    a {
        color: #06c1ae;
        text-decoration: none;
        outline: 0;
    }
    .download-btn {
        position: absolute;
        right: 17%;
        bottom: 10%;
        width: 31%;
        height: 34%;
        z-index: 1;
    }
}