.nine-main {
    .icon-wrapper {
        height: 3.8rem;   
        position: relative;   
        border-top: 1px solid #DDD8CE; 
        border-bottom: 1px solid #DDD8CE; 
    }
    dl{
        margin: 0;
    }
    dd {
        margin: 0;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .icon-list .icon {
        display: inline-block;
        box-sizing: border-box;
        width: 20%;
        text-align: center;
    }
    .icon-list .icon-desc {
        text-align: center;
        font-size: .24rem;
        color: #666;
        margin-top: -18px;
    }
    .a_img {
        width: 60px;
        height: 60px;
    }
    .list-ico {
        position: absolute;
        bottom: .22rem;
        text-align: center;
        width: 100%;
        li {
            display: inline-block;
            width: .16rem;
            height: .16rem;
            border-radius: 50%;
            background-color: #F0EFED;
            margin: 0 .15rem;
        }
        li.active {
            background-color: #06c1ae;
        }
    }
}